<app-backgroud></app-backgroud>
<app-footer></app-footer>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <a id="login" href="http://localhost:4200/userpage">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </a>
      &nbsp;	&nbsp;	&nbsp;	&nbsp;	
      <a src="" rouerLink="register" routerLinkActive="active" id="register" href="http://localhost:4200/register">
        Register
      </a>
    </form>
  </div>
 
</body>

