<body>
    
</body>
<div class="login-box">
    <h2>Register</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Full name</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Student Identification Number</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Advisor</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Telephone</label>
      </div>
      <a id="submit" href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>
  </div>