.textarea {
  position:fixed;
  top: 90%;
  left: 50%;
  transform: translate(-30%,-50%);
  
}
body {
  width: 100%;
}
#fonts,#fontu,#fontp,#fonte,#fontr,#fontv,#fonti,#fonts2,#fonti2,#fonto,#fontn
{
  font-size: 2.5em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 19px;
  padding: 11px 19px;
 
  margin: 0 5px;
  animation: animate 4s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
#fonts{
  animation-delay: 0.3s;
}
#fontu{
  animation-delay: 0.6s;
}
#fontp{
  animation-delay: 0.9s;
}
#fonte{
  animation-delay: 1.2s;
}
#fontr{
  animation-delay: 1.5s;
}
#fontv{
  animation-delay: 1.8s;
}
#fonti{
  animation-delay: 2.1s;
}
#fonts2{
  animation-delay: 2.4s;
}
#fonti2{
  animation-delay: 2.7s;
}
#fonto{
  animation-delay: 3s;
}
#fontn {
  animation-delay: 3.3s;
}


@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
