
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body class="container">
  <a class="fa-solid fa-s" id="fonts"></a>
  <a class="fa-solid fa-u" id="fontu"></a>
  <a class="fa-solid fa-p" id="fontp"></a>
  <a class="fa-solid fa-e" id="fonte"></a>
  <a class="fa-solid fa-r" id="fontr"></a>
  <a class="fa-solid fa-v" id="fontv"></a>
  <a class="fa-solid fa-i" id="fonti"></a>
  <a class="fa-solid fa-s" id="fonts2"></a>
  <a class="fa-solid fa-i" id="fonti2"></a>
  <a class="fa-solid fa-o" id="fonto"></a>
  <a class="fa-solid fa-n" id="fontn"></a>
</body>

