
<body>
</body>
<div class="agenda-box">
    <h2>Agenda</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>What i've done since last meeting</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Questione, issue</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Summary Meeting last meeting</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>What the plan to do before next meeting</label>
      </div>
      <a id="send" href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Send
      </a>
    </form>
  </div>
  <!-- <app-footer></app-footer> -->
  