
<body>
</body>
<div class="agenda-box">
    <h2>Agenda</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>What i've done since last meeting</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Questione, issue</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Summary Meeting last meeting</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>What the plan to do before next meeting</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>The Next Thing</label>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      


      <a id="send" href="userpage">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Send
      </a>
    </form>
  </div>
  
<!-- javascript -->
<script src="/src/app/components/agenda/agenda.component.js"></script>